

<div>
    <p [ngClass]="'frdz'"> friends</p>  <!---attribute directive-->
    <span (click)="isChange = !isChange" [ngClass]="isChange?'yes':'no'"> COLORCHANGE</span>
    <span *ngIf = "isChange;else colorChange">green</span>
    <ng-template #colorChange>RED</ng-template>
</div>
<div>
    <ul>
        <li  *ngFor="let name of names ; index as i">{{i+1}}  {{name}}</li>
    </ul>
</div>
<div>
    <button (click)="isActive = !isActive">check</button>
    <span *ngIf="isActive; else hi">hi</span>
    <ng-template #hi> else part work it</ng-template>
</div>





