
<div>
    <div>
        <div>
            <input type="text" (keyup)="keyPress($event)" > 
            <p>{{a}} </p><!--first text box------>

        <button [disabled]="isDisabled" (click)="myButton($event)">click it</button> <!--disable check-->
        </div>
        <div>

            <!-----task one--->
            <p>Task one</p>
            <input type="text" (keyup)="data($event)" [(ngModel)] = "twoWayBinding" > 

            <p [ngStyle]="styles">{{twoWayBinding}} </p>   

           <button [disabled] = "isEnable" (click)="enable()">clear</button><!---twowaycheck-->

           <button [ngClass]="isEnable?'':'buttonChange'" [disabled] = "isEnable!" (click)="enable()">Clear!</button>

           
               
            
        </div>
       
          
            
    
        
    </div>
   
       
</div>
