
    .table-header{
        background-color: lightblue;
    }
    .table-body{
        background-color: black;
    }
    .table{
        display: flex;
        position: relative;
        left:290px;
        width: 950px;
        
    }