<!----

    <div class="field">
        <div for="username2" class="block">Username
        <input id="username2" type="text" aria-describedby="username2-help" class="ng-invalid ng-dirty"  required minlength="8"  [(ngModel)]="userName"  #username2="ngModel"  pInputText />
        </div>
        <div id="username2-help" class="p-error block"  *ngIf = "username2.invalid && (username2.dirty || username2.touched)" style="color:red;">Username is not available
        </div>
       
    </div>
</div> -->
<!-- 
<div id="card">
            <div class="container-Fluid" >
                <div class="row" *ngFor="let userName">
                    <div class="col-4" style="border:5px black solid;">
                        <p-card>
                        <ng-template pTemplate="header" styleClass ="card1/">
                            Header content here
                        </ng-template>
                        Body Content
                        <ng-template pTemplate="footer">
                            Footer content here
                        </ng-template>
   
   
                    </p-card>
                   
                </div>
                   
                


                
            </div>
            
</div> --> 

<div id="card">
<div class="container-Fluid">
    <div class="row">

        
            <ng-container  *ngFor="let i of usersList" >

                <div class="cards">
      
                <p-card  >
        
                
                    <ng-template pTemplate="header" >
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"> 
                        <div style=" border-bottom: 1px solid;">
                            {{i.name}}
                        </div>
                    </ng-template>
                    <div style=" border-bottom: 1px solid;">
                        {{i.EMAIL}}
                    </div>

                   
                    <ng-template pTemplate="footer">
                      {{i.msg}}
                    </ng-template>
 
             </p-card>    
            </div>
            </ng-container>


          <div>

            <p-confirmDialog header="Confirmation" [baseZIndex]="10000" icon="pi pi-exclamation-triangle"></p-confirmDialog>

            <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>
          </div>
                              
<p-toast position="center" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
         </div>
    
        </div>
    </div> 

 

<p-sidebar [(visible)]="sidebar" position="right" [baseZIndex]="1000000" [style]="{width:'30em'}" >
    

        <h5 id="head">LOGIN</h5>
        <div class="field">
            <div for="username2" class="block">Username
            <input id="username2" type="text" aria-describedby="username2-help" class="ng-invalid ng-dirty"  required minlength="8"  [(ngModel)]="userName"  #username2="ngModel" [pTooltip]="passwordToolTip"   pInputText />
            </div>
            <div id="username2-help" class="p-error block"  *ngIf = "username2.invalid && (username2.dirty || username2.touched)" style="color:red;">Username is not available
            </div>
        



        </div>
        
 
   
</p-sidebar>

<button pButton type="button" label="Small" icon="pi-arrow-right" (click)="sidebar = true" ></button>
             

 <p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Header Content</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        <!-- <p-button type="button" class="mr-2" (click)="visibleSidebar2 = true" icon="pi pi-arrow-right"></p-button> -->
    </ng-template>
</p-confirmDialog> 


<button pButton type="button" label="Small" icon="pi pi-check" (click)="event()" [loading]="isLoading" ></button>
<button pButton pRipple type="button"   (click)= "login()" [disabled]="!isactive" label="Success" class="p-button-raised p-button-success"></button>

<button pButton pRipple type="button" label="Danger" class="p-button-outlined p-button-danger" style="background-color: saddlebrown;" ></button>

