
<!-- <div class = 'main'>
    <span>
        Every day is good day
    </span>
    

</div>
  -->

  <div class="row">
   <div class="col">
   <div class="leftside" >
    <div>
        <img src="../../assets/MyApp_files/left.svg" alt="" id="leftfirst">
        <img src="../../assets/MyApp_files/leftsecond.svg" alt="" id="leftsecond">
        <img src="../../assets/MyApp_files/c.svg" alt="" id="c">
        <img src="../../assets/MyApp_files/e.svg" alt="" id="e">
        <img src="../../assets/MyApp_files/n.svg" alt="" id= "n">
        <img src="../../assets/MyApp_files/t.svg" alt="" id="t">
        <img src="../../assets/MyApp_files/u.svg" alt="" id="u">
        <img src="../../assets/MyApp_files/M.svg"  alt="" id="m">
        <img src="../../assets/MyApp_files/e1.svg" alt="" id="line1">
        <img src="../../assets/MyApp_files/d.svg"  alt="" id="line2">
        <img src="../../assets/MyApp_files/u1.svg" alt="" id="line3">
        <img src="../../assets/MyApp_files/t1.svg" alt="" id="line4">
        <img src="../../assets/MyApp_files/e1.svg" alt="" id="line5">
        <img src="../../assets/MyApp_files/c3.svg"  alt="" id="line6">
        <img src="../../assets/MyApp_files/h.svg"  alt="" id="line7">
    </div>

   <img src="../../assets/MyApp_files/image_processing20220107-29527-faafhi 1.svg" alt="">

    </div>
   </div>

   <div class="col">
    <div class="rightside">
    <div>
        <img src="../../assets/MyApp_files/right  side.svg" alt="" id="rightblue">
        <img src="../../assets/MyApp_files/rightgreen.svg" alt="" id="rightgreen">
        <img src="../../assets/MyApp_files/c5.svg" alt="" id="c1">
        <img src="../../assets/MyApp_files/e5.svg" alt="" id="e1">
        <img src="../../assets/MyApp_files/n5.svg" alt="" id= "n1">
        <img src="../../assets/MyApp_files/t5.svg" alt="" id="t1">
        <img src="../../assets/MyApp_files/u5.svg" alt="" id="u1">
        <img src="../../assets/MyApp_files/m5.svg" alt="" id="m1">
        <img src="../../assets/MyApp_files/e6.svg" alt="" id="l1">
        <img src="../../assets/MyApp_files/d6.svg"  alt="" id="l2">
        <img src="../../assets/MyApp_files/u6.svg" alt="" id="l3">
        <img src="../../assets/MyApp_files/t6.svg" alt="" id="l4">
        <img src="../../assets/MyApp_files/e6.svg" alt="" id="l5">
        <img src="../../assets/MyApp_files/c6.svg"  alt="" id="l6">
        <img src="../../assets/MyApp_files/h6.svg"  alt="" id="l7">
        
        
    </div>
    <div class="msg ">
        <img src="../../assets/MyApp_files/typography.svg" alt="" id="text">
        <div class="inputfield">
           
                <label for="" id="label">Create your password</label>
                <input type="text" placeholder="Placeholder text" id="input"> 
                <img src="../../assets/MyApp_files/eye.svg" alt="" id="eye1"> 
                <img src="../../assets/MyApp_files/eyecross.svg" alt="" id="eyecross1">
           
                <label for="" id="label">Confirm password</label>
                <input type="text" placeholder="Placeholder text" id="input">
                <img src="../../assets/MyApp_files/eye.svg" alt="" id="eye2"> 
                <img src="../../assets/MyApp_files/eyecross.svg" alt="" id="eyecross2">
            
        </div>
        <div class="rules">
            <li id="r1">At least 8 characters in length</li>
            <p id="r2">Should contain:</p>
            <li id="r3">Lower case letters (a-z)</li>
           
            <li id="r4">Upper case letters (A-Z)</li>
            <li id ="r5">Numbers (i.e. 0-9)</li>
        </div>
        <button id="button">SUBMIT</button>
        <img src="../../assets/MyApp_files/text2.svg" alt="" id="login">
        
    </div>
    </div>
</div>

  </div>