<div class="header">
    {{isUpdate?'Edit User':'Add User'}}

</div>

<div class="forms">
    <label for="name">Name</label>
    <input type="text" [(ngModel)] = "userName" name = "name" id="name">
    <label for="mail">mail</label>
    <input type="text" [(ngModel)] = "userMail" name = "mail" id="mail">
    <label for="msg">msg</label>
    <input type="text" [(ngModel)]= "message" name="msg" id ="msg">

    <button *ngIf="!isUpdate" (click)="addUser()">Add User</button>
    <button  *ngIf="isUpdate" (click)="update()">update</button>

   
</div>
