<!-- <app-header></app-header>
<div class="content">
  <div>
    <app-main></app-main>
  </div>
  <div>
     <app-slidebar></app-slidebar>
  </div>
</div>
<app-footer></app-footer>
<div><app-styles></app-styles></div>
<app-parent></app-parent>
<app-users-list></app-users-list>-->
  <!-- <li><app-listview></app-listview>-->
  

<!-- <div>
  <app-to-header></app-to-header>
  <app-inputfield></app-inputfield>  ///2component
</div>
 -->
 <div class = "home">

    <li><a routerLink ="/Slidemenu">HOME</a></li>  
  <li><a routerLink ="/aboutus">ABOUTUS</a></li>
  <li><a routerLink="/contactus">CONTACTUS</a></li>

 <router-outlet></router-outlet></div>

  

  
 
