.content{
    display: flex;
    
   
}
.footer{
    background-color: navy;
}
.home{
    ul{
        display: flex;
         li{
            padding: 10px;
            justify-content: space-evenly;
            a{
                text-decoration:double;
            }
        }
    }
 }
    




   
