<!-- <app-header></app-header>
<div class="content">
  <div>
    <app-main></app-main>
  </div>
  <div>
     <app-slidebar></app-slidebar>
  </div>
</div>
<app-footer></app-footer>
<div><app-styles></app-styles></div>
<app-parent></app-parent>
<app-users-list></app-users-list>-->
  <!-- <li><app-listview></app-listview>-->
  

<!-- <div>
  <app-to-header></app-to-header>
  <app-inputfield></app-inputfield>  ///2component
</div>
 -->
 <!-- <div class = "home">-
<ul>

  <li  id=""><a routerLink ="" >HOME</a></li>  
  <li><a routerLink ="/aboutus">ABOUTUS</a></li>
  <li><a routerLink="/contactus">CONTACTUS</a></li>
</ul> -->

 <router-outlet></router-outlet>
<!-- 
 <app-main></app-main> -->
 
